<%= link_to 'create new list', new_list_path %>

<% @lists.each do |list| %>
<p><%= list.name %>
<%= link_to 'complete', list_path(id: list.id, list: { complete: !list.complete }), method: :put %>
<%= link_to 'delete', list_path(list), method: :delete %></p>
<% end %>