<%= form_for @todo, url: list_todos_path(@list) do |f| %>
	<%= f.text_field :description, placeholder: 'type description and hit enter', autofocus: true %>
	<%= f.submit 'save' %>
	<span class='todo-actions'>		
		<i class='fa fa-trash-o fa-2x'></i>
	</span>
<% end %>