// colors

$bg: #fff
$todo: #8e44ad
$todo-complete: #6C4080
$todo-font: #fff
$border: #111
$nav-colors: #8e44ad, #f39c12, #2ecc71, #c0392b

// mixins

=margin-reset
	margin: 0px
	padding: 0px

=todo
	background-color: $todo
	color: $todo-font
	font-size: 35px

body
	+margin-reset
	background-color: $bg

nav
	position: absolute
	top: 0px
	right: 0px
	height: 100%
	width: 15%
	background-color: red

	table
		+margin-reset
		list-style: none
		height: 100%
		width: 100%
		position: relative

		tr
			width: 100%
			height: 25%
			text-align: center

			td
				vertical-align: middle

			#kewltodo
				font-size: 40px
				color: #fff

		@for $i from 1 through length($nav-colors)
			tr:nth-child(#{$i})
				background-color: nth($nav-colors, $i)



#container
	width: 85%

#todos
	margin-top: 100px

	ul
		+margin-reset
		width: 800px
		margin: auto
	
		.single_todo
			+todo
			margin-top: 10px

		.complete
			background-color: $todo-complete

		li
			list-style: none
			padding: 10px

			.todo_actions
				float: right


