<div id='todos'>
	<ul>
	<% @todos.each do |todo| %>
		<div class="single_todo">
			<li>
				<%= todo.description %>
				<%= todo.complete %>
				<%= link_to 'complete', todo_path(id: todo.id, todo: { complete: !todo.complete }), method: :put %>
				<%= link_to 'delete', todo_path(todo), method: :delete %>
			</li>
		<div>
	<% end %>
	</ul>
<div>